/.devcontainer/
/.git/
/.github/
/.gitignore
/.nextflow*
/.pre-commit-config.yaml
/CHANGES.md
/LICENSE
/README.md
/conf/
/docs/
/example/
/local.config
/main.nf
/nextflow.config
/nextflow.stubRun.config
/test_data/
/results/
/work/
