/*
This is a hack to get around the stub-run support for CI:
 - 21.01.4 implements stub-run, but the variable isn't available for introspection until 21.10.0
 - Lifebit don't want to upgrade >=22.01 as it doesn't support Ignite
 - Only need 21.10 (recommended 21.10.6) to fix this problem
*/
process {
    withName: expansion_hunter {
        cpus   = 1
        memory = 1.GB
    }

    withName: sort_n_index {
        cpus   = 1
        memory = 1.GB
    }

    withName: augment {
        cpus   = 1
        memory = 1.GB
    }
}
