docker.enabled = true

docker {
    enabled = true
    // to prevent issues in github-action
    runOptions = '-u $(id -u ${USER}):$(id -g ${USER})'
}

params {
    sample_info = "$PWD/example/sample_info.csv"
    reference = "$PWD/test_data/reference.fa"
    variant_catalog = "$PWD/test_data/variants.json"
}
